<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
	<title>register</title>
</head>
<body>
    <form id="registerForm">
	
	    <h1>WINDOWS DETECTED!!!</h1>
	    <br>
	    <h2>if you see this message its because you are using the windows operating system</h2>
	    <br>
	    <p>in order to access this website you must have a linux user-agent. linux is way more secure, accessible, private and easy to use than windows</p>
	    <p>i would recommend EndeavourOS</p>
		<a href="https://endeavouros.com/latest-release/">EndeavourOS download</a>
		
	    <p>EndeavourOS is really easy to setup and use, its an arch based linux distro that works straight out of the box</p>
	    
	    <p>you can easily install a new operating system on your machine by just flashing an image into a usb stick. you can use tools like balena-etcher or rufus
	    and the process will do itself</p>


    </form>
</body>
</html>
